{% extends 'base.html' %}

{% block content %}
  <p class="lead">Welcome to your feed!</p>

  <div class="mb-3 bg-light p-3 rounded">
    <p class="mb-0">{{ posts|length }} posts available.</p>
  </div>

  {% if tag %}
    <div class="mb-3">
      <h3 class="h5">Posts tagged with "{{ tag.name }}"</h3>
    </div>
  {% endif %}

  <ul class="list-unstyled">
    {% for post in posts %}
      <li class="mb-3">
        {% include 'partials/_post_item.html' with post=post %}
      </li>
    {% empty %}
      <li>No posts available.</li>
    {% endfor %}
  </ul>
  {% include 'partials/_pagination.html' %}
{% endblock %}
