{% extends 'base.html' %}

{% block content %}
  {% comment %}TITLE{% endcomment %}
  <h1 class="display-4 fw-bold">{{ post.title }}</h1>
  {% comment %}TAGS{% endcomment %}
  <div class="mb-3 d-flex flex-wrap gap-2">
    {% for tag in post.tags.all %}
      <a href="{% url 'main:tagged_posts' tag_slug=tag.slug %}" class="btn btn-outline-secondary btn-sm">{{ tag.name }}</a>
    {% empty %}
      <span class="text-muted">No tags available.</span>
    {% endfor %}
  </div>

  <p class="lead fs-6">By {{ post.author.username }} on {{ post.created_at|date:'F j, Y' }}</p>
  <div class="container my-4 px-4 py-2 rounded">
    <p class="fs-6">{{ post.content|linebreaks }}</p>
  </div>

  <div class="my-4 d-flex justify-content-between align-items-center">
    <h2>{{ comments.count }} comment{{ comments.count|pluralize }}</h2>
    <a href="{{ post.get_share_url }}" class="btn btn-outline-primary">Share this post</a>
  </div>

  {% if user.is_authenticated %}
    {% include 'includes/comment-form.html' %}
  {% else %}
    <p class="text-muted">
      Please <a href="{% url 'main:login' %}">log in</a> to add a comment.
    </p>
  {% endif %}

  <ul class="my-4 list-unstyled">
    {% if comments %}
      {% for comment in comments %}
        <li class="mb-3">
          <div class="card">
            <div class="card-body">
              <p class="card-text">{{ comment.content }}</p>
              <small class="text-muted">By {{ comment.author.username }} on {{ comment.created_at|date:'F j, Y' }}</small>
            </div>
          </div>
        </li>
      {% endfor %}
    {% else %}
      <li>No comments yet.</li>
    {% endif %}
  </ul>
{% endblock %}
